:root {
  --foreground-color: #000000;
  --background-color: #fff;
  --gray: #EBF0F0;
  --dark-gray: #747A80;
}

[ data-theme="dark"] {
  --foreground-color: white;
  --background-color: #000;
  --gray: #1a1a1a;
  --dark-gray: #999;
}

/* Scroll Bar  */

::-webkit-scrollbar {
  width: 5px !important;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #EBF0F0;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

.gray {
  color: var(--dark-gray);
}

.account{
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  gap: 0;
}

.hidden{
  color: var(--background-color);
}

hr{
  margin: 7px 0 12px 0;
}

.mobile{
  display: none!important;
}

@media screen and (max-width: 900px) {
  body{
    background-color: var(--gray);
    font-size: 14px!important;
  }
  .desktop, hr{
    display: none!important;
  }  
  .mobile{
    display: flex!important;
  }
  .hidden{
    color: var(--gray);
  }
}
