.nav{
  padding: 20px 80px;
  margin: 0!important;
}
p{
  margin: 0!important;
}

.search{
  width: 307px;
  height: 40px;
  border: 1px solid #CFDBD5;
  border-radius: 7px;
  position: relative!important;
  padding: 5px 15px;
}

.search[type="text"] {
  color: var(--foreground-color);
  background-color: var(--background-color);
}
.search[type="text"]::placeholder {
  /* color: var(--foreground-color); */
  padding-left: 2.5rem;
}
.search-icon{
  top: 8px;
  left: 1rem;
}

.links, .env{
  width: max-content;
}

.links a{
  font-weight: bold;
  text-decoration: none;
  color: var(--foreground-color);
}
.links p{
  color: #747A80!important;
}

.env{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


@media screen and (max-width:1050px) {
  .nav{
    padding: 20px 40px;
  }
}

@media screen and (max-width:900px) {
  .header{
    padding: 10px 25px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CFDBD5;
    /* height: 32px; */
  }
  .header .gap-4{
    gap: 5px!important;
  }
  .will-center{
    width: 100%;
    width: calc(100% - 30px );
    height: 32px;
  }
  .title{
    font-weight: 800!important;
    font-size: 18px!important;
  }
  .profile-picture{
    width: 32px;
    height: 32px;
    position: absolute;
    top: calc(70px-16px);
    right: 25px;
  }


  .search, .search-icon, .notifications, .footer{
    display: none!important;
  }
}